* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  margin: 0px;
}
nav .fa {
  display: none;
}
nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
  cursor: pointer;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 1% 2%;
  position: relative;
}
.nav-links ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.header {
  padding-top: 10px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 50px;
  width: auto;
  /* margin-left: 30px; */
}
.content {
  position: relative;
}
p,
h3 {
  text-align: center;
  color: #113255;
}
.content div {
  position: absolute;
  top: 0px;
  right: 0px;
}
.heading {
  text-align: right;
}
.heading h4 {
  margin: 0px;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  color: #ffff;
}
.banner {
  min-height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../images/bg8.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero-btn {
  display: inline-block;
  border: 1px solid rgb(76, 102, 246);
  border-radius: 30px;
  padding: 12px 34px;
  color: rgb(207, 204, 204);
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #314ce7;
  background: #4e408b;
  color: rgb(255, 255, 255);
  transition: 1s;
}
.icons {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}
.icons .fab {
  color: #12a1db;
  cursor: pointer;
  padding: 5px;
  text-align: right;
  border: 1px solid #12a1db;
  margin: 5px;
}
h3 {
  color: black;
}
.extra p,
h1 {
  text-align: center;
  padding: 10px;
  color: rgb(175, 172, 172);
}
.btn-div {
  text-align: center;
}
.services {
  text-align: center;
  margin: auto;
  padding-top: 100px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.service-col {
  flex-basis: 30%;
  color: #333333ad;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  margin: 2%;
}
.service-btn {
  background-color: #12a1db;
  display: inline-block;
  border: none;
  border-radius: 30px;
  padding: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.line {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #12a1db;
  width: 50px;
}
.os {
  color: rgb(0, 0, 0);
  letter-spacing: 0.04cm;
  text-align: center;
  padding-top: 40px;
}

i {
  color: #12a1db;
  font-size: 20px;
  margin-bottom: 10px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-col i {
  font-size: 40px;
}

.testinomial-block {
  background-color: #d7d7d7;
}
.testimonial-img {
  /* background-image: url("../images/boy1.png"); */
  height: 200px;
  width: 200px;
  background-size: cover;
  display: block;
  border-radius: 50%;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 30px;
}

.details {
  padding: 30px;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col input,
.contact-col textarea {
  display: flex;
  width: 50%;
  padding: 10px;
  margin: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(199, 196, 196);
  outline: none;
  resize: none;
}
.contact-col button {
  color: #12a1db;
  padding: 10px;
  margin: 50px;
  margin-top: 0;
  width: 25%;
}
.contact-col img {
  height: 20%;
}
.contact-us {
  text-align: left;
  margin: 50px;
}
.con-img {
  display: flex;
  justify-content: space-around;
}

.footer {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background-color: #113255;
  display: flex;
  justify-content: space-evenly;
}
.footer h4,
div {
  color: #ffffff;
}
.footer button {
  background-color: #12a1db;
  display: inline-block;
  border-radius: 30px;
  padding: 12px 34px;
  color: rgb(207, 204, 204);

  cursor: pointer;
}
ul,
li {
  list-style-type: none;
  padding: 7px;
}
.footer input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 10px;
  background: transparent;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .name {
    flex-direction: column;
    padding: 0px;
  }
  .logo {
    height: 30px;
  }

  .contact-col input,
  .contact-col textarea {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
  }
  .contact-us {
    margin: 0px;
  }
  .footer-align {
    display: flex;
    flex-direction: column;
  }
  .footer-align h4 {
    text-align: left;
    margin-left: 20px;
  }
  .footer input,
  button {
    width: 40%;
    margin-left: 10px;
  }
  .icons .fab {
    color: #12a1db;
    cursor: pointer;
    padding: 5px;
    text-align: right;
    border: 1px solid #12a1db;
    margin-left: 5px;
    font-size: 12px;
  }
  .services {
    text-align: center;
    padding-top: 0px;
  }
  .contact-col button {
    color: #12a1db;
    padding: 10px;
    margin: 50px;
    margin-top: 0;
    width: 45%;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #645a59;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
  }
  .nav-links ul {
    padding: 30px;
    text-align: center;
  }
  .fa fa-times {
    text-decoration: none;
  }
  .contact-col img {
    height: 10%;
  }
  img {
    width: 80%;
    padding-left: 50px;
  }
}
